@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

.App {
 
  padding-left: 75px;
  text-align: left;
  background: linear-gradient(#74EBD5 1%, #9FACE6); 
  
  
}

.emailform {
  height: 100vh ;
  background: linear-gradient(#74EBD5, #9FACE6);
  text-align: center; 
  font-Family: 'Noto Sans Mono';
  font-weight: 200 ;
   font-size: 22;   
   resize: both;
  overflow: auto;
      
}

.textbox{
  background:transparent;
}

.about{
 
  
  font-Family: 'Noto Sans Mono';             
  background: linear-gradient(#74EBD5, #9FACE6);
  resize: both;
  overflow: auto;
  font-size: 12;
  font-weight: 800 ;
}


.general{
  position: absolute;
  resize: "vertical";
  overflow: "auto";
  left: 30px;
  width: 400px;
  font-size: 22;
  border-left: 2px solid rgb(148, 59, 221);
  border-top: 2px solid rgb(148, 59, 221);
  padding: 10px;
  height: 35%;  
  overflow: auto;
}

.education{
  position: absolute;
  resize: "vertical";
  overflow: "auto";
  width: 25px;
  font-size: 22;
  border-left: 2px solid rgb(148, 59, 221);
 border-bottom: 2px solid rgb(148, 59, 221);
  padding: 10px;
  height: 30%; 
  padding-right: 430px;
  bottom:5%;
  left: 30px;
  
}
.hobbies{
  position: absolute;
  
  width: 10px;
  font-size: 22;
  border-right: 2px solid rgb(148, 59, 221);
  border-bottom: 2px solid rgb(148, 59, 221);
  padding: 10px;
  height: 25%; 
  padding-right: 430px;
  bottom:5%;
  right: 50px;
  
}
.skills{
  position: absolute;

  width: 350px;
  font-size: 22;
  border-right: 2px solid rgb(148, 59, 221);
  border-top: 2px solid rgb(148, 59, 221);
  padding: 10px;
  height: 35%; 
  padding-right: 50px;
  right: 50px;
  
}
.projects{
  font-Family: 'Noto Sans Mono';             
  background: linear-gradient(#74EBD5, #9FACE6);
  resize: both;
  overflow: auto;
  font-size: 12;
  font-weight: 800 ;
}

.br{
  background: linear-gradient(#74EBD5, #9FACE6);
}
#logo{ 
	position:fixed; 
	top: 5; 
	left:0; 
  
} 
.navigation{
  position:relative;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem calc((100vw - 1000px) / 2);
  z-index: 12;
}

.icons{
  position:fixed; 
	top:5; 
	right:0; 
}
body {
  text-align: center;
  background: #fcfcfa;
  color: #818078;
  
  
}



